<footer>
    <div class="container">
        <div class="wrap-footer">
            <div class="row">
                <div class="col-md-3 col-footer footer-1">
                    <img src="~/Asset/images/logouWatch.png" />
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-3 col-footer footer-2">
                    <div class="heading"><h4>Dịch vụ khách hàng</h4></div>
                    <ul>
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Thông tin vận chuyển</a></li>
                        <li><a href="#">Chính sách</a></li>
                        <li><a href="#">Điều lệ</a></li>
                        <li><a href="#">Tương tác với chúng tôi</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-3">
                    <div class="heading"><h4>Tài khoản của tôi</h4></div>
                    <ul>
                        <li><a href="#">Tài khoản của tôi</a></li>
                        <li><a href="#">Thương hiêu</a></li>
                        <li><a href="#">Mã giảm giá</a></li>
                        <li><a href="#">Đặc biệt</a></li>
                        <li><a href="#">Bản đồ</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-4">
                    <div class="heading"><h4>Tương tác</h4></div>
                    <ul>
                        <li><span class="glyphicon glyphicon-home"></span>101b Les 3000009</li>
                        <li><span class="glyphicon glyphicon-earphone"></span>+91 8866888111</li>
                        <li><span class="glyphicon glyphicon-envelope"></span>thanhdz@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Your Store © 20xx - <a href="http://www.365bootstrap.com" rel="nofollow" target="_blank">Mẫu thương mại điện tử</a> Thiết kế bởi <a href="http://www.365bootstrap.com" rel="nofollow" target="_blank">A Công A Thanh </a>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <ul>
                            <li><img src="~/Asset/images/visa-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/paypal-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/discover-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/maestro-curved-32px.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="~/Asset/js/product/product.js"></script>